{% assign col-1-title-1 = settings.footer_column_1_title_1 %}
{% assign col-1-title-2 = settings.footer_column_1_title_2 %}
{% assign col-2-title = settings.footer_column_2_title %}
{% assign col-3-title = settings.footer_column_3_title %}
{% assign col-4-title-1 = settings.footer_column_1_title_1 %}
{% assign col-4-title-2 = settings.footer_column_1_title_2 %}

{% assign col-1-content-1 = settings.footer_column_1_content_1 %}
{% assign col-1-content-2 = settings.footer_column_1_content_2 %}
{% assign col-2-content = settings.footer_column_2_content %}
{% assign col-3-content = settings.footer_column_3_content %}
{% assign col-4-content-1 = settings.footer_column_4_content_1 %}
{% assign col-4-content-2 = settings.footer_column_4_content_2 %}

{% assign coppyright = settings.footer_coppyright %}
{% assign footer_menu = settings.footer_menu %}
{% assign footer_style = settings.footer_style%}

<footer class="footer {%if settings.header_style == "style5"%}fix-header-style5{%endif%}">
  <div class="footer-wrapper">
    <div class="footer-widgets">

      {% if footer_style =="style1" %}
      {% include "footer-style1" %}
      {% endif %}

      {% if footer_style =="style2" %}
      {% include "footer-style4" %}
      {% endif %}

    </div><!-- /.footer-widgets -->

    <div class="footer-copyright">
      <div class="container">
        <div class="copyright">
          <p>{{ coppyright }}</p>
        </div>

        <div class="footer-nav">
          <nav>
            <ul>
              {% for link in linklists[footer_menu].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>   
              {% endfor %}

            </ul>
          </nav>

          <nav>
            <ul>
              {%if settings.show_multiple_currencies%}

              {% include 'currency-picker' %}
              {%endif%}

            </ul>
          </nav>
        </div>
      </div>
    </div><!-- /.footer-copyright -->
  </div><!-- /.footer-wrapper -->

  <a href="#" class="back-top" title="">
    {%if settings.backtop-svg%}
    <span class="back-top-image backtop-retinal">    
      {{settings.svg_backtop_text}}                
    </span>
    {%else%}
    <span class="back-top-image">               
      <img src="{{ 'back-top.png' | asset_url }}" alt="">
    </span>
    {%endif%}

    <small>{{'layout.footer.back_to_top'|t}}</small>
  </a><!-- /.back-top -->
</footer><!-- /footer -->

<script type='application/ld+json'> 
{
  "@context": "http://www.schema.org",
  "@type": "FurnitureStore",
  "name": " Chaise Sofas Bayswater",
  "url": " https://chaisesofas.com.au/",
  "sameAs": [
     "https://plus.google.com/+ChaiseSofasAustralia",
    "https://www.truelocal.com.au/search/chaise-sofas/bayswater-wa",
    "https://www.facebook.com/chaisesofas ",
    ""
  ],
  "logo": " https://cdn.shopify.com/s/files/1/0119/3042/t/12/assets/logo.png?10476820807763309251 ",
  "image": " https://cdn.shopify.com/s/files/1/0119/3042/products/Chaise_Sofas_Perth_Littlemoor_polyester_sofa_bed_Pewter_CSF7896_large.png?v=1479021087 ",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "5 Irvine Street way",
    "addressLocality": " Bayswater ",
    "addressRegion": "WA ",
    "postalCode": "6053",
    "addressCountry": "AU"
  },
  "openingHours":  "Tue, Wed, Fri 11:00 - 14:00, Thu 15:00 - 18:00, Sat 10:00 - 14:00",
  "contactPoint": {
    "@type": "ContactPoint",
    "contactType": "customer support",
    "telephone": "+611800763228"
  }
}
 </script>