
<section>
  <div class="container">
    <div class="padding-vertical-60">
      <div class="section-header">
        <h2>{{settings.home_blog_title}}</h2>
      </div>

      <div class="section-content">
        <div class="home-section-posts owl-carousel">
          {% for article in blogs.news.articles limit: 5 %}

          <div class="section-post">
            <div class="section-post-media">
              <a href="{{ article.url }}" title="">
                {{article.excerpt}}
              </a>
            </div>

            <div class="section-post-body">
              <div class="section-post-time">
                <span> {{article.published_at | date: " %d" }}</span>
                <small> {{article.published_at | date: "%B" }}</small>
              </div>

              <h4 class="section-post-title">
                <a href="{{ article.url }}" title="{{ article.title }}">{{ article.title }}</a>
              </h4>

              <p class="section-post-excerpt">{{ article.content | strip_html | truncatewords: 10 }}</p>

              <a href="{{ article.url }}" title="" class="read-more">{{'blogs.readmore'|t}}</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div><!-- /.container -->
</section><!-- /section -->