{%assign newletter_title= settings.popup_newletter_title %}
{%assign newletter_des= settings.popup_newletter_des %}
{%assign newletter_des2= settings.popup_newletter_des2 %}
{%assign newletter_button= settings.popup_newletter_button_title %}
{%assign newletter_input= settings.popup_newletter_input_title %}
{% if settings.newsletter_form_action != blank %}
{% assign form_action = settings.newsletter_form_action %}
{% else %}
{% assign form_action = 'https://dilate.createsend.com/t/j/s/fdiktu/' %}
{% endif %}
<script>var cs_showpopup=false;</script>
{% if settings.show_popup_newletter == true %}
<script>
cs_showpopup = true;
var pattern = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
</script>
{% endif %}

<div class="newsletterwrapper">
  <div id="email-modal">
    <div class="modal-overlay"></div>
    <div class="modal-window">
      <div class="window-window">
        <div class="window-content clearfix">
          <a class="btn close btn-popup-close" title="Close"><span class="icon icon-remove"></span></a>
          <div class="left">
            <h2 class="title">{{newletter_title}}</h2>
            <p class="sub-title">{{newletter_des}}</p>
            <div id="mailchimp-email-subscibe ">
              <div id="mc_embed_signup">
                <form action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank"  class="subscible-form row">
                  <div class="col-sm-6 form-group inline-block">

                    <!-- <input  class="form-control" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{newletter_input}}" name="EMAIL" id="mail" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off"> -->
                    <input  class="form-control" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{newletter_input}}" name="cm-fdiktu-fdiktu" id="mail" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">

                  </div>

                  <div class="col-sm-4 form-submit inline-block">
                    <input type="submit" class="btn btn-lg btn-primary"  name="subscribe" id="subscribe" value="{{newletter_button}}">
                  </div>

                </form>
              </div>
            </div>
            <h2 class="message"><a class="popup-no-thanks" style="color: #e4a020;">{{newletter_des2}}</a></h2>
            {%if settings.show_popup_newletter_social%}
            <div class="product-socials">
              <ul class="list-socials">

                {% if settings.share_twitter %}
                <li><a  href="{{settings.block_twitter_url}}" data-toggle="tooltip" title="Twitter"><i class="icon icon-twitter"></i></a></li>
                {% endif %}
                {% if settings.share_facebook %}
                <li><a href="{{settings.block_facebook_url}}" data-toggle="tooltip" title="Facebook"><i class="icon icon-facebook"></i></a></li>
                {% endif %}

                {% if settings.share_google %}
                <li><a  href="{{settings.block_google_url}}" data-toggle="tooltip" title="Google+"><i class="icon icon-google-plus"></i></a></li>
                {% endif %}
                {% if settings.share_pinterest %}

                <li><a  href="{{settings.block_pinterest_url}}" data-toggle="tooltip" title="Pinterest"><i class="icon icon-pinterest"></i></a></li>
                {% endif %}

              </ul>
            </div>
            {%endif%}

          </div>
          <div class="right" style="background-image: url({{'show_popup.jpg'| asset_url }})">
            <!--<img src="{{'show_popup.jpg'| asset_url }}" alt=""> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  if ($.cookie('popoup-newletter') == 'closed') {
    $('.newsletterwrapper').remove();
  }


  $(window).load(function() {
	var pattern = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

    function cs_addCookie()
    {
      $('#email-modal').hide();
      $('#email-modal .modal-window').hide();
      var date = new Date();
      date.setTime(date.getTime() + ({{settings.popup_delay}} * 1000));

      jQuery.cookie('popoup-newletter', 'closed', {expires:date, path:'/'});
    }

    function show_popup1()
    {
      $('#email-modal').show();
      $('#email-modal .modal-window').show();

    }

    if(cs_showpopup)
    {
    	setTimeout(show_popup1, 2000);
    }


    $('#email-modal .close , #email-modal .modal-overlay, .popup-no-thanks').click(function(e) {
      e.preventDefault();
      cs_addCookie();
    });

    // exit intent feature - 28/11/2016 - wd
     function addEvent(obj, evt, fn) {
		if (obj.addEventListener) {
        	obj.addEventListener(evt, fn, false);
      	} else if (obj.attachEvent) {
        	obj.attachEvent("on" + evt, fn);
      	}
      }

//       addEvent(document, "mouseout", function(e) {
//         e = e ? e : window.event;
//         var from = e.relatedTarget || e.toElement;
//         if ((!from || from.nodeName == "HTML") && e.pageY < $(window).scrollTop()) {
//            setTimeout(show_popup1, 1000);
//         }
//       });

    var preventDefaultIt = true;
    $('#email-modal #mc_embed_signup form').submit(function(e){
      	if(preventDefaultIt)
        {
          e.preventDefault();

          if(pattern.test($('#email-modal input[type="email"]').val())){
            //preventDefaultIt= false;
            $.post("{{ form_action }}", {'cm-fdiktu-fdiktu':$('#email-modal input[type="email"]').val()},function(data){

            });
          }
		////chaisesofas.us5.list-manage.com/subscribe/post-json?u=88142ff804a2a966e578bdf4a&amp;id=7802498952&c=?
// $.ajax({
//     url: '{{ form_action }}',
//     data: $('#email-modal #mc_embed_signup form').serialize(),
//   	dataType: 'jsonp'
// });
$.ajax({
    url: 'https://dilate.createsend.com/t/j/s/fdiktu/',
    data: $('#email-modal #mc_embed_signup form').serialize(),
  	dataType: 'jsonp'
});


		// Updated popoup second screen text for March 2017 promo - MS 20170303

		var form = this;
          if(pattern.test($('#email-modal input[type="email"]').val())){
          $('#email-modal .window-window .window-content .title').text('SAVE20');
          $('#email-modal .window-window .window-content .title').attr('style','font-size:32px; margin-top:25%; font-weight:bold; text-align: center;');
          $('#email-modal .window-window .window-content .title + .sub-title').text('Use the above code at the checkout to get 20% discount on the Dorchester Collection');
          $('#email-modal #mc_embed_signup').hide();
          $('#email-modal h2.message').hide();

          var doneSubmit =  $('<a id="submitted-close">START SHOPPING</a>')
          $('#email-modal .window-content .left').append(doneSubmit);

          $('#email-modal .window-content .left #submitted-close').on('click',function(){


              //$(form).submit();
              cs_addCookie();


          });
          }
        }

    });



  })

</script>

<style>
#email-modal a#submitted-close {
    font-size: 17px !important;
    border-style: solid;
    border-width: 1px;
    border-color: #b37600;
    border-radius: 3px;
    background-image: -moz-linear-gradient(90deg, #f38402 0%, #ffa800 100%);
    background-image: -webkit-linear-gradient(90deg, #f38402 0%, #ffa800 100%);
    background-image: -ms-linear-gradient(90deg, #f38402 0%, #ffa800 100%);
    width: 100%;
    padding: 10px 25px;
    font-weight: 900;
    margin-top: 10px !important;
    color:white;
    display: inline-block;
    text-align: center;
}
  #email-modal a#submitted-close:hover{
  cursor:pointer;
  }
</style>
