{% unless current_collection == blank %}
{% assign current_collection = collection %}
{% endunless %}
{% assign on_sale = false %}
{% assign sale_text = 'products.product.sale' | t %}
{% if product.compare_at_price > product.price %}
{% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% assign sold_out_text = 'products.product.sold_out' | t %}
{% if product.available %}
{% assign sold_out = false %}
{% endif %} 

<div class="product product-grid product-item clearfix">
  <div id="product-{{ product.id }}" class="product-inner" data-publish-date="{{ product.published_at }}">
    <div class="product-media ">
      <div class="product-thumbnail">
        <a href="{{ product.url | within: collection }}" title="">
          <img class="product-featured-image" src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">

          {% for image in product.images %}     
          {% if forloop.last == true %}
          <img src="{{ image.src | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">   
          {%endif%}

          {% endfor %}

        </a>
      </div><!-- /.product-thumbnail -->
      {% if sold_out%}
      <div class="product-soldout">
        <div class="fp-table">
          <div class="fp-table-cell">
            <span class="soldout">{{sold_out_text}}</span>
          </div>
        </div>
      </div>

      {% endif %}

      <div class="product-hover">
        <div class="product-actions">
          <form action="/cart/add" method="post" class="variants" id="AddToCartForm-{{ product.id }}" enctype="multipart/form-data">    
            {% if sold_out %}
            <a class="btn-select-option awe-button product-add-cart" data-toggle="tooltip" title="{{settings.product_add_cart}}" href="{{product.url}}" ><i class="icon icon-shopping-bag"></i></a>
            {% else %}

            {% if product.available and product.variants.size > 1 %}

            <a class="btn-select-option awe-button product-add-cart" data-toggle="tooltip" title="{{settings.product_options}}" href="{{product.url}}" ><i class="icon icon-shopping-bag"></i></a>
            {% else %}      
            <input type="hidden" name="id" value="{{ product.variants[0].id }}" />           
            <a class="btn-addToCart awe-button product-add-cart" data-toggle="tooltip" title="{{settings.product_add_cart}}" href="javascript:void(0)" ><i class="icon icon-shopping-bag"></i></a>
            {% endif %}

            {% endif %}
          </form>  


          {%include 'add-to-wishlist'%}

          <a href="javascript:void(0)" id="{{ product.handle }}" class="awe-button product-quick-view btn-quickview" data-toggle="tooltip" title="{{settings.product_quickview}}">
            <i class="icon icon-eye"></i>
          </a>
        </div>
      </div><!-- /.product-hover -->
      {%if settings.show_sale_label%}
      {% if on_sale %}
      <span class="product-label sale">
        <span>{{'collections.products.sale'|t}}</span>
      </span>
      {% endif %}
      {% endif %}
      {%if settings.show_new_label%}
      <span class="product-label new" style="display: none;">
        <span>{{'collections.products.new'|t}}</span>
      </span>
      {%endif%}

    </div><!-- /.product-media -->

    <div class="product-body">
      <h2 class="product-name">

        <a href="{{ product.url | within: collection }}" title="{{ product.title }}" >{{ product.title }}</a> 
      </h2><!-- /.product-product -->

      <div class="product-category">

        <span>{{product.type}}</span>


      </div><!-- /.product-category -->

      <div class="product-price">
        <span class="amout">

          {% capture price %}{{ product.price | money }}{% endcapture %}
          <span >{% if product.price_varies %}{{ 'products.general.from_html' | t: price: price }}{% else %}{{ price }}{% endif %}</span>
          {% if on_sale %} <del class="sale-price">{{ product.compare_at_price | money }}</del> {% endif %}
        </span>

      </div><!-- /.product-price -->
    </div><!-- /.product-body -->


  </div>
 
</div><!-- /.product -->

