
<div class="container">
  <div class="row">
    <div class="col-md-6">

      <div class="product-media">
        <div class="product-single-photos margin-bottom-20" id="ProductPhoto">
          {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
          <a href="{{ featured_image | img_url: 'master' }}" class="cloud-zoom" title="{{product.title}}" data-rel="useWrapper: false, showTitle: false, zoomWidth:'auto', zoomHeight:'auto', adjustY:0, adjustX:10">
            <img src="{{ featured_image | img_url: '1024x1024' }}" id="ProductPhotoImg" alt="{{ featured_image.alt | escape }}">
          </a>
        </div>
        {% if product.images.size > 1 %}
        <div class="more-views owl-carousel-play">
          <div class="owl-carousel owl-theme" data-loop="false" data-margin="10" data-items="4" data-dots="false" data-lazyLoad="true" data-nav="false" data-autoHeight="false" >
            {% for image in product.images %}
            <div class="item">
              <a href="{{ image.src | img_url: 'master' }}" class="thumb-link" title="{{product.title}}" data-rel="{{ image.src | img_url: 'grande' }}">
                <img src="{{ image.src | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}">
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>


    </div>

    <div class="col-md-6">
      <div class="product-details-wrapper">
        <h2 class="product-name">
          <a href="{{product.url}}" title=" {{product.title}}"> {{product.title}}</a>
        </h2><!-- /.product-name -->

        <div class="product-status">
          {% if product.available %}
          <span>{{'collections.products.in_stock'|t}}</span>
          {%else%}
          <span>{{'collections.products.sold_out'|t}}</span>
          {%endif%}
        </div><!-- /.product-status -->
        <span class="xprice hidden" itemprop="price">
          {{ product.price | money }}
        </span>
        <div class="product-stars">

          <span class=" shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        </div>

        <div class="product-description">
          {%if settings.show_full_des%}
          {{product.description}}
          {%else%}
          {{product.description  | truncatewords: 40}}
          {%endif%}
        </div><!-- /.product-description -->

        {%if settings.show_special_featured %}
        <div class="product-features">
          <h3>{{settings.show_special_featured_title}}</h3>
          <ul>
            <li>{{settings.show_special_featured_line_1}}</li>
            <li>{{settings.show_special_featured_line_2}}</li>
            <li>{{settings.show_special_featured_line_3}}</li>
          </ul>
        </div><!-- /.product-features -->
        {%endif%}

        <div class="product-actions-wrapper">
          <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
            <div class="product-signle-options clearfix">
              <select name="id" id="productSelect" class="form-control">
                {% for variant in product.variants %}
                {% if variant.available %}

                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} </option>

                {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
                {% endif %}
                {% endfor %}
              </select>
              <div class="product-single-quantity{% unless settings.product_quantity_enable %} is-hidden{% endunless %}">
                <label for="Quantity">{{ 'product.quantity' | t }} :</label>
                <input  type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector form-control">
              </div>
            </div>

            <div class="product-list-actions"> 

              <div class="product-single-prices product-price">
                <label id="ProductPrice" class="price" itemprop="price">
                  {{ product.price | money }}
                </label>

                {% if product.compare_at_price > product.price %}
                <del id="ComparePrice" class="product-single-sale amount">
                  {{ product.compare_at_price_max | money  }}
                </del>
                {% endif %}
              </div>


              {% if product.available %}
              <button type="submit"  name="add" id="AddToCart" class="btn btn-lg btn-primary">
                <span id="AddToCartText" >{{ 'products.product.add_to_cart' | t }}</span>
              </button>
              {%else%}
              <input type="submit" name="add" class="btn btn-lg btn-primary" id="product-addTocart" disabled="" value="{{'collections.products.sold_out'|t}}">

              {%endif%}
			<!-- Start zipMoney code -->
                <style>
                  #zip-prod-widg > iframe {   
                  	height: 43px!important;
                  }
                </style>              
                {% include 'zip-widget' %}
                <div id="zip-prod-widg" data-zm-asset="productwidget" data-zm-widget="popup" data-zm-popup-asset="termsdialog"></div>
            <!-- End zipMoney code -->	

            </div><!-- /.product-list-actions -->

          </form>
        </div><!-- /.product-actions-wrapper -->
        {%if settings.show_category%}
        <div class="product-meta">
          <span class="product-category">
            <label>Category:</label>
            {% for collection in product.collections %}
            <a href="{{collection.url}}" title="{{ collection.title }}">{{ collection.title }}</a>
            {% endfor %}

          </span>
          {%endif%}
          {%if settings.show_tag and settings.show_category%}
          <span>-</span>
          {%endif%}
          {%if settings.show_tag%}
          <span class="product-tags">
            <label>{{'sidebar.tag'|t}}:</label>
            {% for tag in product.tags %}
            <a href="/collections/all?constraint={{tag}}" title=" {{ tag }}"> {{ tag }}</a>
            {% endfor %}


          </span>
          {%endif%}
        </div><!-- /.product-meta -->
      </div><!-- /.product-details-wrapper -->
    </div>
  </div>
  {%if settings.show_social_product%}
  <div class="product-socials">
    <ul class="list-socials">
      {% include "socials" %}
    </ul>
  </div><!-- /.product-socials -->
  {%endif%}
  {%if settings.show_tab%}
  <div class="product-details-left">
    <div role="tabpanel" class="product-details">
      <nav>
        <ul class="nav" role="tablist">
          {%if settings.show_des_tab%}
          <li role="presentation" class="active">
            <a href="#product-description"  data-toggle="tab">{{ 'product_detail.description' |t}}</a>
          </li>
          {% endif%}
          {%if settings.show_custom_tab %}
          <li role="presentation">
            <a href="#product-infomation"  data-toggle="tab">{{settings.custom_tab_title}}</a>
          </li>
          {% endif%}
          {%if settings.show_review_tab %}
          <li role="presentation">
            <a href="#product-review"  data-toggle="tab">{{ 'product_detail.review' |t}} </a>
          </li>
          {% endif%}
        </ul><!-- /.nav -->
      </nav><!-- /nav -->

      <div class="tab-content">
        {%if settings.show_des_tab%}
        <div role="tabpanel" class="tab-pane active" id="product-description">
          <div>{{product.description}} 

          </div>

        </div><!-- /.tab-pane -->
        {%endif%}
        {%if settings.show_custom_tab %}
        <div role="tabpanel" class="tab-pane" id="product-infomation">
          {{settings.custom_tab_content}}
        </div><!-- /.tab-pane -->
        {%endif%}
        {%if settings.show_review_tab %}
        <div role="tabpanel" class="tab-pane" id="product-review">
          {% comment %}
          Add product review widget, must install Product Review App:
          https://apps.shopify.com/product-reviews
          {% endcomment %}
          <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>

        </div><!-- /.tab-pane -->
        {%endif%}
      </div><!-- /.tab-pane -->
    </div><!-- /.tab-content -->
  </div><!-- /.product-details-left -->
  {%endif%}

  {%if settings.show_upsell_product %}
  {%include 'relared-products' %}
  {%endif%}
  <!-- /.relared-products -->
</div>


<script>

  function updatePricing() {
    var regex = /([0-9]+[.|,][0-9]+[.|,][0-9]+)/g;
    var unitPriceTextMatch = jQuery('.xprice').text().match(regex);

    if (!unitPriceTextMatch) {
      regex = /([0-9]+[.|,][0-9]+)/g;
      unitPriceTextMatch = jQuery('.xprice').text().match(regex);     
    }

    if (unitPriceTextMatch) {
      var unitPriceText = unitPriceTextMatch[0];     
      var unitPrice = unitPriceText.replace(/[.|,]/g,'');
      var quantity = parseInt(jQuery('#Quantity').val());
      var totalPrice = unitPrice * quantity;


      var totalPriceText = Shopify.formatMoney(totalPrice, window.money_format);
      regex = /([0-9]+[.|,][0-9]+[.|,][0-9]+)/g;     
      if (!totalPriceText.match(regex)) {
        regex = /([0-9]+[.|,][0-9]+)/g;
      } 
      totalPriceText = totalPriceText.match(regex)[0];

      var regInput = new RegExp(unitPriceText, "g"); 
      var totalPriceHtml = jQuery('.xprice').html().replace(regInput ,totalPriceText);
      $('.product-list-actions .product-price .price').html(totalPriceHtml);     
    }
     currency();
  }
  jQuery('#Quantity').on('change', updatePricing); 

  var selectCallback1 = function(variant, selector) { 
    var moneyFormat = '{{ shop.money_format }}';
    // Selectors
    var $productImage = $('#ProductPhotoImg'),
        $addToCart = $('#AddToCart'),
        $productPrice = $('.xprice'),
        $comparePrice = $('#ComparePrice'),
        $quantityElements = $('.quantity-selector, label + .js-qty'),
        $addToCartText = $('#AddToCartText');

    // Regardless of stock, update the product price
    $productPrice.html( Shopify.formatMoney(variant.price, moneyFormat) );

    // Also update and show the product's compare price if necessary
    if (variant.compare_at_price > variant.price) {
      $comparePrice.html(Shopify.formatMoney(variant.compare_at_price, moneyFormat)).show();
    } else {
      $comparePrice.hide();
    };
    updatePricing();
    if (variant.featured_image) {

      $('#ProductPhotoImg').attr('src',variant.featured_image.src);
      $('.cloud-zoom').attr('href',variant.featured_image.src);
      $(".cloud-zoom").CloudZoom();
    }
    console.log(variant);
    if(variant.available == false){
    $('#AddToCart').attr('disabled','disabled');
    }
    else{
    $('#AddToCart').removeAttr('disabled');
    }
  };

  /* OWL carousel */
  $(document).ready(function($) {
    $(".owl-carousel-play .owl-carousel").each( function(){
      var config = {
        loop: $(this).data('loop'),
        nav: true,
        navText: ["<i class='revicon-angle-left'></i>","<i class='revicon-angle-right'></i>"],
        margin: $(this).data('margin'),
        items: $(this).data('items'),
        lazyLoad : $(this).data('lazyLoad'),
        dots: $(this).data('dots'),
        autoHeight: $(this).data('autoHeight')
      };
      $(this).owlCarousel( config );
    });

    $('.more-views .owl-item:first-child').addClass('focus');
    $('.thumb-link').click(function() {
      $('.more-views .owl-item').removeClass('focus');
      $(this).closest('.owl-item').addClass('focus');
    });


    $(".size_chart_wrap").click(function(event) {
      $(".size_chart_wrap").fadeOut();
    });

    $(".size_chart_close").click(function(event) {
      $(".size_chart_wrap").fadeOut();
    });

    $(".size_chart").click(function(event) {
      event.preventDefault();
      event.stopPropagation();
    });

    $(".size_chart_button").click(function(event) {
      $(".size_chart_wrap").fadeIn();
    });


    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback1,
      enableHistoryState: true
    });

    {% if product.available and product.options.size > 1 %}
    Shopify.linkOptionSelectors({{ product | json }});
    {% endif %}

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
                                         {% endif %}

                                         // Hide selectors if we only have 1 variant and its title contains 'Default'.
                                         {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                                         $('.selector-wrapper').hide();
    {% endif %}


  });

 

</script>



