{%assign newletter_title= settings.newletter_title %}
{%assign newletter_des= settings.newletter_des %}
{%assign newletter_button= settings.newletter_button %}
{%assign newletter_input= settings.newletter_input %}
<div class="widget">
  <h3 class="widget-title">{{newletter_title}}</h3>

  <div class="widget-content">

    <div class="subscrible-form-row">
      <p>{{newletter_des}}</p>

      {% if settings.newsletter_form_action != blank %}
      {% assign form_action = settings.newsletter_form_action %}
      {% else %}
      {% assign form_action = '//myshopify.us12.list-manage.com/subscribe/post?u=9ade7b39da179308b891bd263&amp;id=e9dbec7f92' %}
      {% endif %}
      <form action="{{ form_action }}"  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
        <div class="form-group-row">
          <div class="form-group">
            <label for="subscribe-email" class="sr-only">{{'subscible.email'|t}}</label>
            <input class="form-control" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{newletter_input}}" name="EMAIL" id="mail" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}">
          </div>

          <div class="form-submit">
            <button type="submit" class="btn btn-lg btn-white btn-outline" name="subscribe" id="subscribe" >{{newletter_button}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div><!-- /.widget -->
