

<section>
  <div class="container">
    <div class="margin-bottom-50">
      <div class="subscible-wrapper subscible-inline">
        {%assign newletter_title= settings.newletter_title %}
        {%assign newletter_des= settings.newletter_des %}
        {%assign newletter_button= settings.newletter_button %}
        {%assign newletter_input= settings.newletter_input %}
        {% if settings.newsletter_form_action != blank %}
        {% assign form_action = settings.newsletter_form_action %}
        {% else %}
        {% assign form_action = '//myshopify.us12.list-manage.com/subscribe/post?u=9ade7b39da179308b891bd263&amp;id=e9dbec7f92' %}
        {% endif %}
        <div class="row">
          <div class="col-md-2">
            <h3 class="subscribe-title">{{newletter_title}}</h3>
          </div>

          <div class="col-md-4">
            <div class="subscribe-comment">
              <p>{{newletter_des}}</p>
            </div>
          </div>

          <div class="col-md-6">

            
            <form action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank"  class="subscible-form">
              <div class="form-group">
                <label class="sr-only" for="subscribe-email">{{'subscible.email'|t}}</label>
                <input  class="form-control" type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{newletter_input}}" name="EMAIL" id="mail" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">                
              </div>
              
              <div class="form-submit">
                <input type="submit" class="btn btn-lg btn-primary"  name="subscribe" id="subscribe" value="{{newletter_button}}">
              </div>
             
            </form>
          </div>
        </div>
      </div><!-- /.subscible-wrapper -->
    </div>
  </div><!-- /.container -->
</section><!-- /section -->
