{%if settings.main_color%}
$main-color:{{settings.main_color}};
{%else%}
$main-color:#ffa200;
{%endif%}

@media (max-width: 767px) {
  .header-style-1 .menubar-search-form {
    width: auto !important;
  }
}
@media(max-width:767px){
  .home-products .awe-media.home-cate-media{
    margin-bottom:30px;
  }
  .product-details-wrapper{
    padding-right:0;
    .product-description{
      text-align: justify;
    }
  }
  .product-details-left{
    padding-bottom: 50px;
  }
  .product-details-left .product-details .tab-content{
    width: 100%;

  }
  .product-details-left .product-details .tab-content h1{
    font-size: 24px;
  }
  .product-details-left .product-details .tab-content p{
    text-align: justify;
  }
  .product-details-left .product-details nav{
    border-right: 0 none;}
  .product-details-left .product-details .tab-content{
    padding-right: 30px;
  }
}


@media only screen and (max-width: 480px){
  .spr-header-title {
    text-align: left!important;
  }
  .spr-summary {
    text-align: left!important;
  }
  .policy-wrapper .policy{
    width: 320px;
    margin-left:0;
  }
}

@media only screen and (max-width: 480px){
  .policy-wrapper .policy{
    width: 290px;
    margin-left:0;
  }
}


{%if settings.custom_header_color%}

{%if settings.header_background_color%}
$header_background:{{settings.header_background_color}};
#header{
  background: $header_background;
}
.headroom{
  background: $header_background;
}
.awemenu-nav{
  background: $header_background;
}
.awemenu-container{
  background: $header_background;
}
.awemenu-container, .awemenu{
  background: $header_background;
}
.awemenu-mobile-default.awemenu-mobile-standard .awemenu-container, 
.awemenu-mobile-default.awemenu-mobile-top .awemenu-container, 
.awemenu-mobile-default.awemenu-mobile-bottom .awemenu-container, 
.awemenu-mobile-default.awemenu-mobile-outleft .awemenu-container, 
.awemenu-mobile-default.awemenu-mobile-outright .awemenu-container{
  background: $header_background;

}

{%else%}
$header_background:none;
{%endif%}

{%if settings.header_text_color%}
$header_text:{{settings.header_text_color}};

.awemenu-left .awemenu .awemenu-item>a, .awemenu-default .awemenu .awemenu-item>a{
  color: $header_text;
}
.awemenu-bars span{
  color: $header_text;
}

.header-contact p{
  color: $header_text;
}
.navbar-search span{
  color: $header_text;
}

{%else%}
$header_text:#333333;
{%endif%}

{%if settings.header_submenu_background_color%}
$submenu_background : {{settings.header_submenu_background_color}};
.awemenu-megamenu-item{
  background:$submenu_background;
}

.navbar-icons .submenu{
  background:$submenu_background;
}

{%endif%}

{%if settings.header_submenu_text_color%}
$submenu_text : {{settings.header_submenu_text_color}};
.awemenu-megamenu-wrapper ul.super>li>a, 
.awemenu-megamenu-wrapper ul>li>a, .awemenu-standard .awemenu > 
.awemenu-item .awemenu-submenu .awemenu-item{
  color: $submenu_text;
}
.navbar-icons .submenu.dropdown>li>a{
  color: $submenu_text;
}


{%endif%}

{%if settings.minicart_bgcolor%}

ul#mini-cart{
  background: {{settings.minicart_bgcolor}};

}

{%endif%}
{%if settings.search_text_color%}

.navbar-search button.btn{
  color: {{settings.search_text_color}};

}
.navbar-search span{
  color: {{settings.search_text_color}};
}

{%endif%}

{%if settings.topbar_icon_color%}

.navbar-icons a{
  color: {{settings.topbar_icon_color}};

}

{%endif%}

{%if settings.custom_policy_color%}

{%if settings.policy_l1_color%}
#header .policy .policy-text h4{
  color:{{settings.policy_l1_color}};
}
{%endif%}

{%if settings.policy_l2_color%}
#header .policy .policy-text p{
  color:{{settings.policy_l2_color}};
}

{%endif%}
{%endif%}
{%endif%}

{%if settings.custom_footer_color%}

{%if settings.footer_background_color%}
.footer-wrapper{
  background-color:{{settings.footer_background_color}};
}
{%endif%}

{%if settings.footer_text_color%}
.footer-wrapper .widget ul>li>a {
  color:{{settings.footer_text_color}};
}
.footer-wrapper .widget-content p{
  color:{{settings.footer_text_color}};
}


{%endif%}
{%if settings.footer_text_title_color%}
.footer-wrapper .widget .widget-title {
  color:{{settings.footer_text_title_color}};
}
{%endif%}
{%if settings.copyright_text_color%}
.footer-copyright .copyright>p,
.footer-copyright a,
.footer-copyright .select-title,
.currency-picker{
  color:{{settings.copyright_text_color}};
}
{%endif%}
{%if settings.copyright_background_color%}
.footer-copyright, .currency-picker {
  background:{{settings.copyright_background_color}};
}
{%endif%}

{%if settings.newlet_input_color%}
.footer-wrapper .subscrible-form .form-control {
  color:{{settings.newlet_input_color}};
}
{%endif%}

{%if settings.newlet_button_text_color%}
.footer-wrapper .subscrible-form .btn-white.btn-outline {
  color:{{settings.newlet_button_text_color}};
  border: 1px solid {{settings.newlet_button_text_color}};
}
{%endif%}




{%endif%}




#email-modal { display:none; height:100%; left:0; position:fixed; top:0; width:100%; z-index:1041; }
#email-modal .modal-overlay { background: rgba(45,45,50,0.8); height:100%; position:absolute; width:100%; }
#email-modal .modal-window { display:none; min-height:320px; margin:0 auto; position:relative; top:25%; width: 847px; }    
#email-modal .window-window { position:relative; }
#email-modal .window-window .window-background { opacity: 0.8; filter:alpha(opacity=80);}
#email-modal .window-window .window-content { position:relative; background: #fff; float: left; }
#email-modal .window-window .window-content .left { width: 528px; float: left; padding: 68px 30px 30px 70px; }
#email-modal .window-window .window-content .right { width: 319px; float: right; }
#email-modal .window-window .window-content .btn.close,
.close-window,
.close-modal {
  padding: 0;
  height: 29px;
  width: 29px;
  position: absolute;
  right: -15px;
  top: -15px;
  z-index: 9;
  line-height: 28px;
  border: 0;
  background:#000;
  cursor: pointer;
  filter: alpha(opacity=100);
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
#email-modal .window-window .window-content .btn.close:hover,
.close-window:hover,
.close-modal:hover { background-color: #e95144;}
#email-modal .window-window .window-content .title { font-size:20px; position: relative; letter-spacing: 0.05em; margin-bottom: 8px; }
#email-modal .window-window .window-content .sub-title { margin-bottom: 15px; letter-spacing: 0.05em; color: #555555; }
#email-modal .window-window .window-content .message {
  margin-top: 0!important;
  clear: both;
  padding: 4px 0 23px;
  margin-bottom: 0px;
  letter-spacing: 0.02em;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 20px;
}
/* MAIL CHIMP FORM INPUTS ---------------------------------------------------------- */
#mce-EMAIL { border:1px solid #000; color:#333; font:11px arial, sans-serif; height:11px; margin:0 !important; padding:8px !important; width:217px; }
#mailchimp-email-subscibe { overflow: hidden;}
#mc_embed_signup { clear:left; overflow: hidden; }
#mc_embed_signup form { display:inline !important; padding:0 !important; text-align:center !important; }
#mc_embed_signup input.input-group-field { display: block; border: none; width: 255px; background:#f5f5f5; color: #a3a3a3; font-style: italic; height: 36px; float: left; padding: 5px 10px; line-height: 36px; margin-right: 10px; }
#mc_embed_signup button{float: right;margin-left: -3px; border: none; background: none; padding: 0;}
#mc_embed_signup .input-group-btn .btn { display: block; margin: 0; }
#mc_embed_signup .input-group-btn{ float: left; }
#mc_embed_signup .input-group-btn .btn { padding: 0 19px !important;}

#email-modal .product-socials{
  padding: 0;
  border-top: 0 none;
  border-bottom: 0 none;
  text-align: left;
  margin: 0;
}
#email-modal .subscible-form .form-control {

  width: 100%;
  border: 1px solid;
}
#email-modal .form-group {

  margin-bottom:0;
  padding: 0;
}
@media(max-width:800px){
  #email-modal .modal-window{
    width:750px;
  }
  #email-modal .window-window .window-content .left{
    padding:20px 40px;
  }
  #email-modal .window-window .window-content{
    float: none;}
  #email-modal .modal-window{
    width:80%;

  }
  #email-modal .window-window .window-content .left{
    width:100%
  }
  #email-modal .window-window .window-content .right{
    display: none;}
}
@media(max-width:768px){
  #email-modal .modal-window{
    width:80%;

  }
  #email-modal .window-window .window-content .left{
    width:100%
  }
  #email-modal .window-window .window-content .right{
    display: none;}
}

@media(max-width:768px){
  #email-modal .form-group{
    width:100%;
  }
  #email-modal .form-group {


    padding: 15px;
    padding-top:0;
    padding-bottom:0;
  }
  #email-modal .form-submit{
    width:100%;
    .btn{
      width:100%;}
  }
  #email-modal .product-socials li>a{
    font-size: 15px;
  }
}
@media(max-width:480px){
  #email-modal .form-group{
    width:100%;
  }
  #email-modal .form-submit{
    width:100%;
    .btn{
      width:100%;}
  }
  #email-modal .product-socials li>a{
    font-size: 15px;
  }
}
@media(max-width:320px){
  #email-modal .modal-window{
    width:90%;
    top:10%;

  }
  #email-modal .window-window .window-content .left{
    padding:20px;
  }
}

/* Quick view */

.quickview-product{
  .product-quantity{
    label{
      float: left;
      margin-top: 6px;
      margin-right: 6px;
    }
  }

}
@media(max-width:768px){
  .clearleft{
    clear:left;
  }
}

.engo-popup .close-window {
  position: absolute;
  right: 0;
  top: 0;
  font-weight: bold;
  color: #000;
  width: 24px;
  height: 24px;
  color: #fff!important;
  text-align: center;
  line-height: 24px;
}

.minicart .mini-products-list {
  overflow-y: auto;
  max-height: 50vh;
}

.awemenu{
  display: none;
  &.dqq{
    display: block;
  }
}
.main-slider.dqq{
  display: block;
}
@media(max-width:767px){
  .cate-style-2{
    .cate-section-gutter-wrapper>.row{
      white-space: normal;
    }
    .cate-section-gutter-wrapper>.row>[class*="col-"]{
      width:100%;
    }
    .cate-section-gutter{
      padding-top:0;
    }
    .cate-section-gutter .awe-media {
      top: 0;
      position: relative;
      width: 50%;
      float: left;
    }
    .cate-section-gutter .category-text {
      padding:0;
      width: 50%;
      overflow: hidden;
      float: left;
      position: relative;
      padding-top: 5px;
      h3 {
        font-size: 20px;
        margin-bottom: 10px
      }
      p {
        margin-bottom: 10px;
      }
    }
  }
}
.quickview-product .actions{
  clear:left;
}
.retinal{

  svg{
    vertical-align: middle;
  }
}

.backtop-retinal{
  svg{
    vertical-align: middle;
  }
}

.loading.loaded-content{
  background-size: 30px;
  display: none!important;
}