
<div class="main-header background " style="background-image:url(//cdn.shopify.com/s/files/1/0119/3042/t/12/assets/header_blog_img.jpg?9532280963686994000">
  <div class="container">
    <h1>{{ page.title }}</h1>
  </div>
</div>
{% include 'breadcrumb' %}
<div class="container">
<!--   <h1>{{ page.title }}</h1> -->
  <div class="wysiwyg">
    {{ page.content }}	
  </div>
</div>